.env

Pseudonimização dos dados pessoais\tabelas\Usuário\CSV/** 
Pseudonimização dos dados pessoais\tabelas\SuperAdm\CSV**

entrega - IA\Pseudonimização dos dados pessoais\tabelas\SuperAdm\ImagemBanco/**
entrega - IA\Pseudonimização dos dados pessoais\tabelas\Usuário\ImagemBanco/**